# Receive repository dispatch and publish preview to surge.sh branch using cached dependencies and Gatsby Incremental Builds

name: Publish preview on Repository Dispatch

on:
  repository_dispatch:
    types: preview-note

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.client_payload.ref }}

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      
      - name: Gatsby Cache Folder
        uses: actions/cache@v2
        id: gatsby-cache-folder
        with:
          path: .cache
          key: ${{ runner.os }}-cache-gatsby
          restore-keys: |
            ${{ runner.os }}-cache-gatsby

      - name: Gatsby Public Folder
        uses: actions/cache@v2
        id: gatsby-public-folder
        with:
          path: public/
          key: ${{ runner.os }}-public-gatsby
          restore-keys: |
            ${{ runner.os }}-public-gatsby

      # - name: Install dependencies
      #   run: yarn install

      - name: Build Gatsby page
        run: yarn build --log-pages
        env:
          NOTES_BRANCH: ${{github.event.client_payload.head_ref}}
          GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES: true
          CI: true

      - name: Deploy
        uses: dswistowski/surge-sh-action@v1
        with:
          domain: 'https://${{github.event.client_payload.repository_owner}}-${{github.event.client_payload.workflow}}-${{github.event.client_payload.head_ref}}-run-${{github.event.client_payload.run_number}}.surge.sh'
          project: 'public/'
          login: ${{ secrets.SURGE_LOGIN }}
          token: ${{ secrets.SURGE_TOKEN }}
